<!doctype html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Premium HTML5 Template by Indonez">
    <meta name="keywords" content="blockit, uikit3, indonez, handlebars, scss, javascript">
    <meta name="author" content="Peter Parker">
    <meta name="theme-color" content="#2E89EA" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/main/main_logo.png" type="image/x-icon">
    <!-- Touch icon -->
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon.png">
    <title>Smart Convert</title>
</head>

<body>
    <!-- page loader begin -->
    <div class="page-loader w-100 h-100 bg-white d-flex justify-content-center align-items-center position-fixed overflow-hidden">
        <div class="spinner-grow spinner-grow-sm text-primary"></div>
        <div class="spinner-grow spinner-grow-sm text-primary"></div>
        <div class="spinner-grow spinner-grow-sm text-primary"></div>
    </div>
    <!-- page loader end -->
    <!-- header begin -->
    <header class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="img/main/smartconvert.png" alt="logo" width="150" height="70" class="d-inline-block">
            </a>
            <div class="collapse navbar-collapse d-flex justify-content-between d-none d-xl-block" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="index.html" aria-expanded="false" style="color:black">Home</a>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html" style="color:black">Contact</a>
                    </li>
                 
                
                </ul>
                <div class="optional-link d-flex align-items-center ms-4 d-none d-xl-block">
                    <a href="signin.html" class="btn btn-link me-3"><i class="fas fa-circle-user"></i>Login</a>
                    <a href="#" class="btn btn-info">Create An Account</a>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <main>
        <!-- slideshow content begin -->
        <section>
            <div id="main-slideshow" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="carousel-caption d-flex align-items-center">
                            <div class="container">
                                <div class="row gx-md-5 align-items-md-center">
                                    <div class="col-md-8 col-xl-6 order-first">
                                        <h1 class="fw-bold display-5">SWEET RATE, SWIFT PAYMENT</h1>
                                        <p class="lead mt-3 mb-4 d-none d-xl-block">Trade your coin for naira and enjoy sweet rate with swift payment.</p>
                                        <a href="#" class="btn btn-warning">Start trading<i class="fas fa-bolt ms-1"></i></a>
                                        <a href="#" class="btn btn-link ms-3 d-none d-xl-inline"><i class="fas fa-arrow-right"></i>Chat With Us</a>
                                    </div>
                                    <div class="col-md-4 col-xl-6 order-last">
                                        <div class="in-carousel-image">
                                            <img src="img/main/main_bg.jpg" alt="slide" width="856" height="570" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption d-flex align-items-center">
                            <div class="container">
                                <div class="row gx-md-5 align-items-md-center">
                                    <div class="col-md-8 col-xl-6 order-first">
                                        <h1 class="fw-bold display-5">RELIABLE & SECURED PLATFORM</h1>
                                        <p class="lead mt-3 mb-4 d-none d-xl-block">We've always been here from the beginning and will always be here for your #InstantFunding.</p>
                                        <a href="#" class="btn btn-warning">Start trading<i class="fas fa-bolt ms-1"></i></a>
                                        <a href="#" class="btn btn-link ms-3 d-none d-xl-inline"><i class="fas fa-arrow-right"></i>Chat With Us</a>
                                    </div>
                                    <div class="col-md-4 col-xl-6 order-last">
                                        <div class="in-carousel-image">
                                            <img src="img/main/main_bg3.jpg" alt="slide" width="856" height="570" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-indicators"></div>
                <button class="carousel-control-prev" type="button" data-bs-target="#main-slideshow" data-bs-slide="prev"></button>
                <button class="carousel-control-next" type="button" data-bs-target="#main-slideshow" data-bs-slide="next"></button>
            </div>
        </section>
        <!-- slideshow content end -->
        <!-- section content begin -->
        <section class="py-5 text-white in-cirro-1" style="background-color: #3a3361;">
            <div class="container">
                <div class="row gy-2 gy-md-2 gx-lg-3">
                    <div class="col-12 mt-5">
                        <div class="row row-cols-1 row-cols-md-4 row-cols-lg-6 gx-5 gy-3 gy-lg-0">
                            <div class="col">
                                <div class="ticker-image d-flex align-items-center">
                                    <img class="opacity-75" src="img/in-cirro-1-ticker-1.svg" alt="ticker-logo" width="138" height="34">
                                </div>
                                <div class="ticker-price">
                                    2,120.67 (3.40%)<span class="ticker-down-arrow"><i class="fas fa-circle-down"></i></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="ticker-image d-flex align-items-center">
                                    <img class="opacity-75" src="img/in-cirro-1-ticker-2.svg" alt="ticker-logo" width="139" height="35">
                                </div>
                                <div class="ticker-price">
                                    244.97 (2.70%)<span class="ticker-up-arrow"><i class="fas fa-circle-up"></i></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="ticker-image d-flex align-items-center">
                                    <img class="opacity-75" src="img/in-cirro-1-ticker-3.svg" alt="ticker-logo" width="135" height="27">
                                </div>
                                <div class="ticker-price">
                                    160.87 (5.01%)<span class="ticker-down-arrow"><i class="fas fa-circle-down"></i></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="ticker-image d-flex align-items-center">
                                    <img class="opacity-75" src="img/in-cirro-1-ticker-4.svg" alt="ticker-logo" width="130" height="20">
                                </div>
                                <div class="ticker-price">
                                    639.30 (1.20%)<span class="ticker-up-arrow"><i class="fas fa-circle-up"></i></span>
                                </div>
                            </div>
                            <div class="col d-none d-lg-block">
                                <div class="ticker-image d-flex align-items-center">
                                    <img class="opacity-75" src="img/in-cirro-1-ticker-5.svg" alt="ticker-logo" width="137" height="32">
                                </div>
                                <div class="ticker-price">
                                    121.08 (2.30%)<span class="ticker-up-arrow"><i class="fas fa-circle-up"></i></span>
                                </div>
                            </div>
                            <div class="col d-none d-lg-block">
                                <div class="ticker-image d-flex align-items-center">
                                    <img class="opacity-75" src="img/in-cirro-1-ticker-6.svg" alt="ticker-logo" width="114" height="31">
                                </div>
                                <div class="ticker-price">
                                    104.78 (1.08%)<span class="ticker-up-arrow"><i class="fas fa-circle-up"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section content end -->
        <!-- section content begin -->
        <section class="py-5 in-cirro-2">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-12">
                        <h1 class="mb-1">Best-in-class forex execution</h1>
                        <p class="lead">Access Tier-1 liquidity to receive higher fill-rates and significant price improvements.</p>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-2 g-md-2 gx-lg-2">
                    <div class="col d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-body">
                                <img src="img/in-cirro-2-icon-1.svg" alt="icon" width="46" height="46" />
                                <h2 class="h5 mt-4">Tier 1 liquidity</h2>
                                <p>Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-body">
                                <img src="img/in-cirro-2-icon-2.svg" alt="icon" width="46" height="46" />
                                <h2 class="h5 mt-4">Safe and Secure</h2>
                                <p>Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-body">
                                <img src="img/in-cirro-2-icon-3.svg" alt="icon" width="46" height="46" />
                                <h2 class="h5 mt-4">Innovative platform</h2>
                                <p>Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-body">
                                <img src="img/in-cirro-2-icon-4.svg" alt="icon" width="46" height="46" />
                                <h2 class="h5 mt-4">Low Commissions</h2>
                                <p>Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section content end -->
        <!-- section content begin -->
        <section class="py-5 in-cirro-3">
            <div class="container">
                <div class="row d-flex align-items-center gx-5 mb-3">
                    <div class="col-md-12 col-lg-5 mb-5 mb-md-3 mb-lg-0">
                        <span class="badge bg-secondary mb-3">Popular instruments</span>
                        <h1 class="mt-2 mb-1">Live prices on popular markets</h1>
                        <p class="lead mb-4">Inform your decisions with timely dispatches from our team of global analysts.</p>
                        <a href="#" class="btn btn-link"><i class="fas fa-arrow-right"></i>Find out more</a>
                    </div>
                    <div class="col-md-12 col-lg-7 mt-md-5">
                        <div class="card card-body ms-lg-5">
                            <div id="tradingview-widget"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section content end -->
        <!-- section content begin -->
        <section class="py-5 in-cirro-4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-body">
                            <div class="row gx-0 d-flex align-items-center position-relative">
                                <div class="col-md-5 col-lg-6">
                                    <img class="testi-image" src="img/in-cirro-4-people.png" alt="testimonial" width="418" height="441" />
                                </div>
                                <div class="col-md-7 col-lg-6">
                                    <blockquote class="blockquote">
                                        <p>They are very knowledgeable and provide our clients with excellent customer service.</p>
                                    </blockquote>
                                    <h2 class="h6 mt-3 mb-0">Laura Belo</h2>
                                    <span class="blockquote-footer">NeoTrade Systems Inc.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section content end -->
        <!-- section content begin -->
        <section class="py-5 in-cirro-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <h1 class="mb-1">Some of the things you may want to know</h1>
                        <p class="lead mb-4">We answered questions so you don’t have to ask.</p>
                        <a href="#" class="btn btn-link"><i class="fas fa-arrow-right"></i>View more questions</a>
                    </div>
                    <div class="col-md-12 col-lg-6 mt-5 mt-lg-0">
                        <div class="accordion accordion-style-5 mt-n2 mb-3" id="sampleFive">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a5One" aria-expanded="true">
                                        How do I open an account with Cirro?
                                    </button>
                                </h2>
                                <div id="a5One" class="accordion-collapse collapse show" data-bs-parent="#sampleFive">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Two" aria-expanded="false">
                                        How much money do I need to open an account?
                                    </button>
                                </h2>
                                <div id="a5Two" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Three" aria-expanded="false">
                                        How do I fund my account?
                                    </button>
                                </h2>
                                <div id="a5Three" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Four" aria-expanded="false">
                                        How will my withdrawal be processed?
                                    </button>
                                </h2>
                                <div id="a5Four" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section content end -->
        <!-- section content begin -->
        <section class="py-4 in-cirro-6" style="background-color: #3a3361">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-md-flex justify-content-md-start align-items-center">
                        <div class="border-end-md pe-md-5 d-block">
                            <h2 class="text-white mb-0">Start Trading Today.</h2>
                        </div>
                        <div class="mt-3 mt-md-0 ps-md-5">
                            <a href="#" class="btn btn-link"><i class="fas fa-arrow-right"></i>Register An Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section content end -->
    </main>
    <!-- footer begin -->
    <footer class="py-5 in-cirro-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row gx-0 mb-3">
                        <div class="col-md-12 col-lg-3 footer-logo">
                            <img src="img/main/smartconvert.png" alt="footer-logo" width="200" height="100" class="mb-1 d-block">
                            <!-- <a class="lead footer-email" href="mailto:">info@smartconvert.com</a> -->
                        </div>
                        <div class="col-md-12 col-lg-9">
                            <div class="d-flex flex-column flex-xl-row justify-content-xl-end">
                                <ul class="list-inline in-footer-link order-last order-xl-first">
                                    <li class="list-inline-item"><a href="#">info@smartconvert.com</a></li>
                                    <li class="list-inline-item"><a href="#">08112417083</a></li>
                                    <li class="list-inline-item"><a href="#">WhatsApp(+234) 811 241 7083</a></li>
                                </ul>
                                <div class="social-media-list small hstack gap-3 ms-lg-5 order-first order-xl-last">
                                    <div><a href="#" aria-label="social-link"><i class="fab fa-facebook-square"></i></a></div>
                                    <div><a href="#" aria-label="social-link"><i class="fab fa-twitter"></i></a></div>
                                    <div><a href="#" aria-label="social-link"><i class="fab fa-linkedin"></i></a></div>
                                </div>
                            </div>
                        </div>
                       
                       
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <div class="d-none d-md-block">
        <a href="#" class="to-top fas fa-arrow-up text-decoration-none text-white"></a>
    </div>
    <!-- javascript -->
    <script src="js/vendors/bootstrap.min.js"></script>
    <script src="js/vendors/trading-widget.min.js"></script>
    <script src="js/utilities.min.js"></script>
    <script src="js/config-theme.js"></script>
</body>


<!-- Mirrored from www.indonez.com/html-demo/Cirro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Sep 2022 08:58:11 GMT -->
</html>